@mixin box-sizing($type: border-box){
  box-sizing: $type;
}

@mixin font-size($font-size, $line-height:true){
  font-size:$font-size;
  font-size:($font-size / $base-font-size)*1rem;
  @if $line-height == true{
    line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
  }
}

$base-font-size: 16px;
$base-line-height: 24px;
// For Use With Non NEAT project
// $fg-column: 102px;
// $fg-gutter: 48px;
// $fg-max-columns: 12;

$width-large: 70em;
$width-small: 40em;
$width-medium: 50em;


// Screen Sizes for Media Queries

$width-tiny: 20em;
$width-small: 30em;
$width-medium: 40em;
$width-tablet: 48em;
$width-small-screen: 50em;
$width-medium-screen: 64em;
$width-large-screen: 76.5em;
$width-larger-screen: 114em;


/*_____________________
_____________________
\
  Font Family Helpers
/___________________
____________________ */


// Web Fonts
// Will need additional CSS and/or JS


$titillium: "Titillium Web", sans-serif;
$roboto: 'Roboto', Helvetica, Arial, sans-serif;
$open-sans: 'Open Sans', Helvetica, Arial, sans-serif;

// Non Web Fonts
// Can be used without the need for additional CSS or JS

/*_____________________
_____________________
\
  Color Guide
/___________________
____________________ */


$leco-red: rgb(190,30,45);
$dark-red: rgb(139,14,26);
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$tan: rgb(228,227,207);
$grey-1: rgb(102,102,102);
$grey-2: rgb(153,153,153);
$grey-3: rgb(204,204,204);
$grey-4: rgb(230,230,230);

// PythonX Colors

$python-blue: #005384;

// High-level base settings.

$base-font-color: #333 !default;



/*_____________________
_____________________
\
  Font Sizes and Line Heights
/___________________
____________________ */


$base-font-size: 100% !default;
$base-font-weight: normal !default;

$base-font-size:          16px !default;
$base-line-height:        150% !default;

$heading-size-1:          36px !default;
$heading-size-2:          30px !default;
$heading-size-3:          24px !default;
$heading-size-4:          20px !default;
$heading-size-5:          16px !default;
$heading-size-6:          14px !default;

// High Level Base Settings

$rem-base: 16px !default;


/*_____________________
_____________________
\
  Placeholders
/___________________
____________________ */

%clearfix {
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  }
}

%group {
  .group:before,
  .group:after {
    content: "";
    display: table;
  }
  .group:after {
    clear: both;
  }
  .group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  }
}

// Be Careful with Use - Can Cause Performance Issues
%font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

%word-break {
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

%overflow-container{overflow-y:scroll;-webkit-overflow-scrolling:touch}




/*_____________________
_____________________
\
  Reset
/___________________
____________________ */

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  @extend %clearfix;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

blockquote, q {
  quotes: none;

  &:before,&:after {
    content: '';
    content: none;
  }

}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}


.fluid {
  clear: both;
  margin-left: 0;
  width: 100%;
  float: left;
  display: block;
}

img,canvas,iframe,video,svg{max-width:100%; height: 100%;}

a {
  background: transparent;
  text-decoration: none; }
a:focus {
  outline: thin dotted; }

ol, ul {
  list-style: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/*_____________________
_____________________
\
  Mixins
/___________________
____________________ */



/*===================================================
=====================================================
\
  Author Styles
  =============
  Author: $author-name;
  Date:  $daye;
  Project: $project-name;
/====================================================
===================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
  line-height: 1
}


/*_____________________
_____________________
\
  Font Sizes
/___________________
____________________ */

p {
  @extend %word-break;
  @include font-size(14px);
  line-height: 1.4;
}

h1 {
  @include font-size($heading-size-1);
}

h2 {
  @include font-size($heading-size-2);
}

h3 {
  @include font-size($heading-size-3);
  /* 1.17*16 = 18.72 */
}

h4 {
  @include font-size($heading-size-4);
  /* 1*16 = 16 */
}

h5 {
  @include font-size($heading-size-5);
  /* 0.83*16 = 13.28 */
}

h6 {
  @include font-size($heading-size-6);
  /* 0.75*16 = 12 */
}

/// Vars for testing

* {
  @include box-sizing;
}

  *::before,
  *::after {
    box-sizing: inherit;
  }



html {

}


body {
  background: pink;
  @include font-size(16px);

}

* {
  box-sizing: border-box;
}


/*body {*/
/*background: purple;*/
/*}*/

.app-container {
  max-width: 68rem;
  @include font-size(16px);
  margin: auto;
}

ul {
  list-style: none;
  padding-left: 0;
  list-style-position: inside
}



.App-logo {
  animation: App-logo-spin infinite 8s linear;
  height: 85px;
}

.App-header {
  background-color: #222;
  min-height: 3em;
  padding: 20px;
  color: green;
  margin-top: 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.float {
  float: left;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Nav-links {
  display: inline;
  padding-right: 0.375em;
  color: white;

}

.discussion{
  display: inline;
  padding-right: 0.375em;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}







/*  hero image styles   */

.hero-image {
  background-color: aqua;
  height: 50%;
  width: 80%;
  position: relative;
}

.hero-text {
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}