/// Colors
///---------


$c-primary-green: #0cac40;
$c-carbon-blue: #233142;
$c-light-blue: #4978b1;



/// Primary Colors
///-----------------

$c-primary-white: #fff;
$c-primary-black: #000;
$c-primary-b-75: #333;
